.all-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin: 4rem auto;

    @media (max-width: 800px){
        grid-template-columns: 1fr;
    }

}

.card button {
    margin-top: auto;
}